
body {
	background: #eeede2;
	text-align: center;
	font-family: 'Cantarell', arial, serif;
	margin: 0;
	padding: 0;
}

#container {
	background: #f7f6f6;
	margin:0 auto;
	text-align: left;
	width: 960px;
}

#header {
  background-image: url('/images/logo_sepia.jpg'); /*got from http://www.flickr.com/photos/zoriah/3487507132/sizes/o/ */
	padding: 10px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 212px;
}

#logo {
	float: left;
	padding: 0;
}

#logo h1 a{
  	margin: 30px;
    color:#ffffff;
    font-family: 'Reenie Beanie', arial, serif;
    font-size: 60px;
    letter-spacing:3px;
}

#registration {
	float: right;
}

#subheader {
	padding: 10px;
	background: #34150a;
	color: #ffffff;
}

#search_area {
  text-align: center;
}

#content {
    padding: 15px;
}

#organizations {
	overflow: hidden;
}

#organizations div.organization {
	border: 1px solid #8d0000;
	margin: 10px;
	padding: 10px;
	width: 400px;
	background: #e7dda9;
	line-height: 5px;
	color: #8d0000;
}

#organizations div.organization h2 {
	margin: 5px;
}


#organizations div.left {
	float: left;
}

#organizations div.right {
	float: right;
}

a {
	color:#700B00;
	text-decoration:none;
	background-color:transparent
}

a:hover {
	color:#333333;
	background-color:transparent
}

a.link {
  background-color:#ffffff;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

input {
  margin: 0;
  padding: 3px;
  border-style: none;
  height: 30px;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Cantarell', arial, serif;
	font-size: 16px;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  background: #C00000;
  color: #ffffff;
  font-weight: bold;
}


input[type="submit"]
{
  cursor: pointer;
   height: 35px;
}

p {
  margin: 0;
  padding: 5px;
}

#search_query {
  width: 600px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#search {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#footer {
	height: 10px;
  background: #34150a;
}
