@font-face { font-family: CABNDWebBold; src: url('font/CABNDWebBold.otf'); } 

html, body, * {
	list-style: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	background: white url(images/bg.gif) repeat;
	color: white;
	font: normal normal normal 12px/1.4em 'Trebuchet MS', Arial, sans-serif;
	font-weight: normal;
	line-height: 1.8em;
}

a, a:link, a:hover, a:visited {
	color: #FFF;
}

.bg img {
	left: 0px;
	opacity: 0.9;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: -50;
}

header, #body {
	width: 100%;
	margin-bottom: 20px;
	background: #4C9867;
}

.wrapper {
	width: 940px;
	margin: 0 auto;
	padding: 20px;
}

.clear {
	clear: both;
}

header, .helpWithAndFindOrg, .bucket, .actions a {
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/* header */
header .wrapper h1#logo {
	float: left;
	font-size: 2.6em;
}

header .wrapper h1#logo span {
	font-style: italic;
	font-weight: normal;
	display: block;
	font-size: 0.42em;
	margin-top: 5px;
}

header .wrapper ul.social {
	float: right;
}

header .wrapper ul.social li {
	float: left;
	padding: 0 0 0 20px;
}

/* #body */
#body {
	background: none;
}

#body .wrapper.helpWithAndFindOrg {
	background-color: rgba(116, 85, 125, 0.8);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#body .wrapper.helpWithAndFindOrg h2 {
	font-size: 3.1em;
	font-family: CABNDWebBold;
	margin-bottom: 10px;
	text-shadow: 1px 1px 2px #333;
}

/* form */
.helpWith {
	margin-bottom: 20px;
}

label {
	font-size: 1.5em;
}

input {
	border: none;
}

.helpWith input {
	margin-right: 10px;
}

.helpWith input:last-child {
	margin-right: 0;
}

input.cityOrOrg, input#search {
	padding: 10px;
	font-size: 2.3em;
	-webkit-border-radius: 5px;
}

input.cityOrOrg {
	width: 760px;
}

input#search {
	margin-left: 16px;
	width: 140px;
}

/* featuredOrg */

.featuredOrg .bucket {
	background: #684F39;
	width: 280px;
	float: left;
	margin: 0 20px 20px 0;
	padding: 10px;
}

.featuredOrg .bucket.last {
	margin: 0;
}

.featuredOrg .bucket a.more {
	background: #A5815F;
	padding: 5px 10px;
	font-size: 1.5em;
	float: right;
	margin: 0 -10px -10px 0;
}

.featuredOrg .bucket a.more:hover {
	background: #B49578;
}

/* actions */

.actions a {
	background: #684F39;
	padding: 5px 10px;
	float: right;
	margin-left: 20px;
	font-size: 1.5em;
}

.actions a:hover {
	background: #A5815F;
}

/* footer */
footer {
	background: #333;
	margin-top: 40px;
}

footer .wrappper {
	
}

small.letsHelpIt {
	float: left;
}

small.letsHelpIt strong {
	border-bottom: dashed 1px #FFF;
}

small.free {
	float: right;
}
