<h1>About Let's Help It - This is the idea behind it</h1>

<p>Imagine a local community of users group, creating events to integrate their users and create an attitude of help and volunteer work. If you are part of a Technology users group you may want to give a presentation to help other users from that community with some sort of discussion. Let's say you are part of a local Ruby programming language group. You may want to present about Rails 3.0, launched in the last week of August of 2010.</p>

<p>But, looking at Social Responsibility and how we can create a better world, it would be always good to have an opportunity to share and help those who need help, looking at social needs. Or even help their word to be heard by someone who may be able to help or by someone who knows someone who can help.</p>

<p>Do you know some kind of Non Government Organization who needs help? So, let's help it!</p>

<p>If I'm running an event in Porto Alegre, I want to find organizations from Porto Alegre to help. Here you go!<br>
<a target="_blank" href="http://letshelp.it/organizations/search?q=porto+alegre">http://letshelp.it/organizations/search?q=porto+alegre</a> (or <a target="_blank" href="http://letshelpit.heroku.com/organizations/search?q=porto+alegre">http://letshelpit.heroku.com/organizations/search?q=porto+alegre</a>)</p>

<p>We are a group of developers with an idea, values, and some available time. With that we have developed a simple software to help organizations to be found and help people to find who needs help. Our target audience are users groups who look for organizations to help.</p>

<p>We are doing <b>opensource</b> code, available on GitHub:<br>
<a target="_blank" href="http://github.com/thoughtworks/letshelp.it">http://github.com/thoughtworks/letshelp.it</a></p>

<p>Developers who would like to contribute to the project should join the discussion group:<br>
<a target="_blank" href="http://groups.google.com/group/letshelpit-dev">http://groups.google.com/group/letshelpit-dev</a></p>

<p>We also have channels on Twitter and User Voice (a free forum/feedback service):
<br>
<b>Twitter</b>: <a target="_blank" href="http://www.twitter.com/letshelpit">http://www.twitter.com/letshelpit</a>
<br>
<b>User Voice</b>: <a target="_blank" href="http://letshelpit.uservoice.com/forums/72267-general">http://letshelpit.uservoice.com/forums/72267-general</a></p>

<p>Let's Help It!</p>
