<h1>Sobre o Let's Help It - Esta &eacute; a ideia</h1>

<p>Imagine uma comunidade grupos de usu&aacute;rios local, criando eventos para integrar seus usu&aacute;rios e criar uma atitude de ajuda e trabalho volunt&aacute;rio. Se voc&ecirc; &eacute; parte de um grupo de usu&aacute;rios de tecnologia voc&ecirc; pode querer realizar uma apresenta&ccedil;&atilde;o para ajudar outros usu&aacute;rios daquela comunidade com alguma discuss&atilde;o e aprendizado. Vamos dizer que voc&ecirc; faz parte do grupo usu&aacute;rios local da linguagem de programa&ccedil;&atilde;o Ruby e que voc&ecirc; deseja apresentar sobre Rails 3.0, lan&ccedil;ado na &uacute;ltima semana de Agosto de 2010.</p>

<p>Olhando para o t&oacute;pico Responsabilidade Social e como podemos fazer um mundo melhor, seria sempre bom ter a oportunidade de compartilhar e ajudar os que precisam de ajuda, olhando para necessidades sociais. Ou mesmo ajudar estas pessoas a terem sua palavra ser ouvida por quem pode ter interesse em ajudar ou quem pode conhecer pessoas interessadas em ajudar.</p>

<p>Voc&ecirc; conhece alguma organiza&ccedil;&atilde;o n&atilde;o governamental que precisa de ajuda? Ent&atilde;o, <i>let's help it</i>!</p>

<p>Se estou realizando um evento em Porto Alegre, e quero encontrar organiza&ccedil;&otilde;es que est&atilde;o precisando de ajuda nesta cidade, posso usar:<br>
<a target="_blank" href="http://letshelp.it/organizations/search?q=porto+alegre">http://letshelp.it/organizations/search?q=porto+alegre</a> (ou <a target="_blank" href="http://letshelpit.heroku.com/organizations/search?q=porto+alegre">http://letshelpit.heroku.com/organizations/search?q=porto+alegre</a>)</p>

<p>N&oacute;s somos um grupo de desenvolvedores com uma ideia, valores e um pouco de tempo dispon&iacute;vel. Com isto desenvolvemos uma aplica&ccedil;&atilde;o simples que permite organiza&ccedil;&otilde;es serem encontradas e&oacute; ajudar pessoas que querem achar organiza&ccedil;&otilde;es com necessidades. Nosso p&uacute;blico alvo s&atilde;o grupos de usu&aacute;rios que est&atilde;o a busca de organiza&ccedil;&otilde;es para ajudar nos seus eventos.</p>

<p>Estamos fazendo c&oacute;digo <b>opensource</b>, dispon&iacute;vel no GitHub:<br>
<a target="_blank" href="http://github.com/thoughtworks/letshelp.it">http://github.com/thoughtworks/letshelp.it</a></p>

<p>Tamb&eacute;m temos canais no Twitter e User Voice (um servi&ccedil;o gratuito de forum/feedback):
<br>
<b>Twitter</b>: <a target="_blank" href="http://www.twitter.com/letshelpit">http://www.twitter.com/letshelpit</a>
<br>
<b>User Voice</b>: <a target="_blank" href="http://letshelpit.uservoice.com/forums/72267-general">http://letshelpit.uservoice.com/forums/72267-general</a></p>

<p>Let's Help It!</p>