<%= javascript_include_tag 'jquery' %>

<h1>Update your organization</h1>

<div id="edit_form">

  <p>enter_password</p>
  <p id="error_msg" style="color: red"></p>

  <form id="submit_pass">
    <input type="hidden" id="id_field" value="<%=@organization.id %>" />
    <input type="password" id="pass_field" />
    <input type="submit" value="submit" />
  </form>

</div>

<script>
  $('#submit_pass').submit(function() {
    $.ajax({ url : "/organizations/ajax_edit", 
      data : { password : $('#pass_field').val(), id : $('#id_field').val() },
      success : function(data) {
        $('#edit_form').html(data)
      },
      error : function(xmlResponse,cod,error) {
        $('#error_msg').html(xmlResponse.responseText)
      }
    })
    return false;
  });
</script>

