<div class="wrapper">
  <div class="editOrg">
    <h3><%=t("organization.update", :organization => @organization.name)%></h3>
    <div id="edit_form">
      <div class="password">
        <em><%=t("enter_password")%>:</em>
        <p id="error_msg" style="color: red"></p>        
        <form id="submit_pass">
          <input type="hidden" id="id_field" value="<%= @organization.id %>" />
          <input type="password" id="pass_field" />
          <input type="submit" value="<%=t('validate')%>" class="passSubmit" /> 
        </form>
      </div>
    </div>
  </div>
  <div class="clear"></div>

  <script>
    $('#submit_pass').submit(function() {
      $.ajax({ url : "/organizations/ajax_edit", 
        data : { password : $('#pass_field').val(), id : $('#id_field').val() },
        success : function(data) {
          $('#edit_form').html(data)
        },
        error : function(xmlResponse,cod,error) {
          $('#error_msg').html(xmlResponse.responseText)
        }
      })
      return false;
    });
  </script>
</div>
