<div class="wrapper">
	<div class="register">
		<h3><%=t("organization.register")%></h3>
		<%= render :partial => 'organizations/form', :locals => { :action => 'Create' } %>
	</div>
	<div class="clear"></div>
</div>