<div id="organizations">
  <% @organizations.each do |organization| %>
    <% link_to organization do %>
      <div class="organization <%= cycle('left','right') %>">
        <h2><%=h organization.name %></h2>
        <h3><%=h organization.city %></h3>
        <p><%= RedCloth.new(organization.needs).to_html %></p>
      </div>
    <% end %>
  <% end %>
</div>
